@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: #000;
}
.form{
    padding: 30px;
    font-size: 16px;
    margin-left: 28%;
    margin-top: 1%;
    width: 38%;
    background: #fff;
    border-radius: 50px; 
    letter-spacing: 2px;
  }
input{
    padding: 10px;
    margin-left: 10px;
    border-radius: 12px;
    border: 2px solid #000;
    letter-spacing: none;
   
}
button{
  color: #fff;
  padding: 10px;
  background: #000;
  border: 2px solid #000;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10vh;
  width: 30%;
  margin-top: 3%;
  font-size: 18px;
  margin-left: 37%;
}
.e {
  margin-left: 21%;
  width:  50%;
}
.g{
  margin-left: 63px;
  width:  50%;
}
.c2{
  margin-left: 77px;
  width:  50%;
}
.c4{
  margin-left: 8%;
}
.c5{
  margin-left: 20%;
  width:  50%;
}
.H{
   margin-left: 35%;
   margin-top: -30%;
}
.h1{
  margin-left: 30%;
}
.g1{
  margin-left: 217px;
}
.g3{
  margin-left: 27px;
}
button:hover {
  color: #000;
  background: transparent;
  border: 2px solid #000;
  transition: 0.5s;
}
.text1{
  text-align: center;
  margin: 12%;
  margin-top: 1%;
  margin-left: 15%;
  letter-spacing: 4px;
}
.text2{
  text-align: center;
  margin: 12%;
  margin-top: -9%;
  margin-left: 15%;
  letter-spacing: 4px;
}
.side1{
  margin-left: 5%;
}
.side2{
  margin-top: -4%;
   margin-left: 5%;
}
.side3{
  margin-left: 3px;
  margin-top: 4%;
}
.side4{
    margin-left: 3px;
}
.side5{
  margin-left: 5%;
  margin-top: -4%;
}
.side6{
  margin-left: 1%;
}
.side7{
  margin-left: 5%;
  margin-top: -4%;
}
.c1{
  margin-left: 5px;
}